.workspace-sidebar {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__header,
  &__footer {
    flex-shrink: 0;
  }

  &__body {
    flex: auto;
    overflow: auto;
    padding: 15px 0;
  }

  &__footer {
    display: flex;

    padding: 10px;
    justify-content: space-between;
  }
}

.user {
  display: flex;
  padding: 20px 10px;
  align-items: center;

  &__avatar {
    flex-shrink: 0;
    margin-right: 10px;
    @include circle(50px);
    background-color: #2b50ed;
  }

  &__username {
    @include text-truncate;
  }
}

.group {
  &__header {
    display: flex;
    padding: 0 10px 0 18px;
    height: 50px;
    align-items: center;
    color: #888;

    .title {
      flex: auto;
    }

    .icon {
      flex-shrink: 0;
      font-size: 14px;
    }
  }
}

.categories {
  color: #768191;

  .category {
    padding: 0 10px 0 16px;
    line-height: 36px;
    border-left: 3px solid transparent;

    &.active,
    &:hover {
      background-color: #f7f7f7;
    }
    &.active {
      border-color: #2b50ed;
      color: #2b50ed;
      .category-icon {
        color: #2b50ed;
      }
    }

    .category-icon {
      margin-right: 10px;
      font-size: 18px;
      color: #bac3d0;
      vertical-align: middle;
    }

    .category-name {
      vertical-align: middle;
    }
  }
}
