.layout-workspace {
  display: flex;
  height: 100vh;
  flex-direction: row;

  &__categories,
  &__articles,
  &__article {
    flex-shrink: 0;
    overflow: auto;
  }

  &__articles,
  &__article {
    border-left: 1px solid $border-color;
  }

  &__categories {
    width: 200px;
  }

  &__articles {
    position: relative;
    width: 300px;
  }

  &__article {
    flex: auto;
  }
}
