@mixin custom-scrollbar($axis) {
    @if $axis {
        overflow-#{ $axis }: auto;
    } @else {
        overflow: auto;
    }

    &::-webkit-scrollbar-track-piece {
        background-color: #f2f2f2;
        border-radius: 0;
    }

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: rgba(0, 0, 0, .2);
        border-radius: 6px;
        outline: 2px solid #f2f2f2;
        outline-offset: -2px;
        border: 2px solid #f2f2f2;
    }

    &::-webkit-scrollbar-thumb:hover {
        height: 50px;
        background-color: #9f9f9f;
        border-radius: 4px;
    }
}