
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494733278839'); /* IE9*/
  src: url('iconfont.eot?t=1494733278839#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494733278839') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494733278839') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494733278839#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before { content: "\e684"; }

.icon-close:before { content: "\e630"; }

.icon-search:before { content: "\e60c"; }

.icon-help:before { content: "\e60d"; }

.icon-pencil:before { content: "\e60e"; }

.icon-setting:before { content: "\e60f"; }

.icon-trash:before { content: "\e611"; }

.icon-share:before { content: "\e615"; }

.icon-code:before { content: "\e618"; }

.icon-switch:before { content: "\e619"; }

.icon-save:before { content: "\e628"; }

.icon-dir:before { content: "\e629"; }

.icon-publish:before { content: "\e634"; }

.icon-ferment:before { content: "\e653"; }

.icon-layout:before { content: "\e66b"; }

