html {
  color: $text-color;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  font-family: $font-family;
  line-height: $line-height-base;
  background-color: $body-background;
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #fff;
  font-feature-settings: "tnum", "tnum";
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

textarea,
input {
  border: none;
  outline: none;
  font-family: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
