$font-family: -apple-system, \.SFNSText-Regular, Helvetica Neue, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei,
  sans-serif !default;
$code-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

$text-color: rgba(#000, 0.65) !default;

$font-size-base: 14px !default;
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$line-height-base: 1.5 !default;
$body-background: #f3f5f8 !default;

$border-color: #e4e4e4 !default;
$border-color-light: #f4f6f8 !default;
