.c-printer {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__header {
    z-index: 1;
    position: relative;
    flex-shrink: 0;
    box-shadow: 0 0 10px rgba(#000, 0.15);
  }

  &__body {
    position: relative;
    flex: auto;
    overflow: hidden;
    height: 100%;

    .editor,
    .previewer {
      overflow: auto;
    }
  }

  .toolbar {
    display: flex;
    padding: 0 16px;
    line-height: 50px;
    justify-content: space-between;

    .button {
      color: $text-color-dark;
    }
  }

  .editor {
    display: flex;
    min-height: 100%;

    .line-numbers,
    .textarea-wrapper {
      line-height: 1.75;
      font-size: $font-size-base;
      font-family: inherit;
    }

    .line-number,
    .textarea-simulator,
    textarea {
      padding: 0 10px;
    }

    .line-numbers {
      flex-shrink: 0;
      background-color: #fafafa;
      border-right: 1px solid #f0f0f0;
    }

    .line-number {
      min-width: 60px;
      text-align: right;
      color: rgba(#000, 0.3);

      &--placeholder {
        visibility: hidden;
      }
    }

    .textarea-wrapper {
      flex: auto;
      position: relative;
      overflow-wrap: break-word;
      word-break: break-word;

      .textarea-simulator {
        &__segment {
          position: relative;

          .line-number {
            position: absolute;
            left: -11px;
            height: 100%;
            transform: translateX(-100%);
          }

          .paragraph {
            white-space: pre-wrap;
            visibility: hidden;
          }
        }
      }

      textarea {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        color: $text-color;
        font-size: inherit;
        line-height: inherit;
        resize: none;
        background-color: transparent;
      }
    }
  }

  .previewer {
    height: 100%;

    article {
      padding: 0 10px;
    }
  }
}
