.c-tooltip {
  display: inline-block;
  line-height: 1;
  position: relative;

  $background-color: rgba(45, 45, 45, 0.9);
  $gap: 5px;
  $arrow-size: 4px;
  $slide-duration: 0.3s;
  $slide-distance: 2px;

  &__content {
    display: none;
    z-index: 1900;
    position: absolute;
    padding: 5px 10px;
    line-height: 1.5;
    border-radius: 4px;
    color: #fff;
    background-color: $background-color;
    white-space: nowrap;
    box-shadow: 0 5px 20px var(--box-shadow-color);

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 4px solid transparent;
    }
  }

  &:hover &__content {
    display: block;
  }

  &.left &__content {
    top: 50%;
    transform: translate(-$gap, -50%);
    animation: slideLeftIn $slide-duration forwards;

    @keyframes slideLeftIn {
      from {
        right: calc(100% - #{$slide-distance});
      }

      to {
        right: 100%;
      }
    }

    &::before {
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
      border-left-color: $background-color;
    }
  }
  &.right &__content {
    top: 50%;
    transform: translate(($gap + $arrow-size), -50%);
    animation: slideRightIn $slide-duration forwards;

    @keyframes slideRightIn {
      from {
        left: calc(100% - #{$slide-distance});
      }

      to {
        left: 100%;
      }
    }

    &::before {
      left: 0;
      top: 50%;
      transform: translate(-100%, -50%);
      border-right-color: $background-color;
    }
  }
  &.top &__content {
    left: 50%;
    transform: translate(-50%, -($gap + $arrow-size));
    animation: slideTopIn $slide-duration forwards;

    @keyframes slideTopIn {
      from {
        bottom: calc(100% - #{$slide-distance});
      }

      to {
        bottom: 100%;
      }
    }

    &::before {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      border-top-color: $background-color;
    }
  }
  &.bottom &__content {
    left: 50%;
    transform: translate(-50%, ($gap + $arrow-size));
    animation: slideBottomIn $slide-duration forwards;

    @keyframes slideBottomIn {
      from {
        top: calc(100% - #{$slide-distance});
      }

      to {
        top: 100%;
      }
    }

    &::before {
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
      border-bottom-color: $background-color;
    }
  }
}
