.layout-workspace {
  display: flex;
  height: 100vh;
  flex-direction: row;
  background-color: #f7f7f7;

  &__categories,
  &__articles,
  &__article {
    flex-shrink: 0;
    overflow: auto;
  }

  &__articles,
  &__article {
    border-left: 1px solid $border-color;
  }

  &__categories {
    width: 200px;
    background-color: #fefefe;
  }

  &__articles {
    position: relative;
    width: 300px;
    background-color: #fff;
  }

  &__article {
    flex: auto;
    background-color: #f3f5f8;
  }
}
