@charset "UTF-8";
@font-face {
  font-family: RalewayRegular;
  src: url(../font/raleway-regular.woff) format("woff");
}
@font-face {
  font-family: RalewayMedium;
  src: url(../font/raleway-medium.woff) format("woff");
}
@font-face {
  font-family: RalewaySemiBold;
  src: url(../font/raleway-semibold.woff) format("woff");
}
@font-face {
  font-family: RalewayBold;
  src: url(../font/raleway-bold.woff) format("woff");
}
@font-face {
  font-family: RalewayHeavy;
  src: url(../font/raleway-heavy.woff) format("woff");
}
:root {
  font-family: RalewayMedium, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.preview {
  color: #333;
  line-height: 1.7;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}
.preview b, .preview dl dt, .preview strong, .preview table th {
  font-weight: 700;
}
.preview * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: inherit;
}
.preview hr:after {
  clear: both;
}
.preview .muted-link {
  color: #737373;
}
.preview .muted-link:visited {
  color: #737373;
}
.preview .muted-link:focus, .preview .muted-link:hover, .preview .muted-link:focus, .preview .muted-link:hover {
  text-decoration: none;
  color: #3884ff;
}
.preview .underlined-link {
  text-decoration: underline;
  color: inherit;
}
.preview .underlined-link:focus, .preview .underlined-link:hover, .preview .underlined-link:focus, .preview .underlined-link:hover {
  text-decoration: underline;
  color: inherit;
}
.preview .underlined-link:visited {
  color: inherit;
}
.preview > :first-child {
  margin-top: 0 !important;
}
.preview > :last-child {
  margin-bottom: 0 !important;
}
.preview blockquote, .preview code, .preview figure, .preview img, .preview pre, .preview table, .preview tr {
  page-break-inside: avoid;
}
.preview h2, .preview h3, .preview h4, .preview h5, .preview p {
  orphans: 3;
  widows: 3;
}
.preview h1, .preview h2, .preview h3, .preview h4, .preview h5 {
  page-break-after: avoid;
}
.preview em {
  font-style: italic;
}
.preview blockquote, .preview dl, .preview ol, .preview p, .preview table, .preview ul {
  margin-top: 0;
  margin-bottom: 0.85em;
}
.preview a {
  color: #4183c4;
  text-decoration: none;
  background: 0 0;
}
.preview a:active, .preview a:focus, .preview a:hover {
  outline: 0;
  text-decoration: underline;
}
.preview img {
  border: 0;
  max-width: 100%;
}
.preview hr {
  height: 4px;
  padding: 0;
  margin: 1.7em 0;
  overflow: hidden;
  background-color: #e7e7e7;
  border: none;
}
.preview hr:after, .preview hr:before {
  display: table;
  content: " ";
}
.preview h1, .preview h2, .preview h3, .preview h4, .preview h5, .preview h6 {
  margin-top: 1.275em;
  margin-bottom: .85em;
  font-weight: 700;
}
.preview h1 {
  font-size: 2em;
}
.preview h2 {
  font-size: 1.75em;
}
.preview h3 {
  font-size: 1.5em;
}
.preview h4 {
  font-size: 1.25em;
}
.preview h5 {
  font-size: 1em;
}
.preview h6 {
  font-size: 1em;
  color: #777;
}
.preview code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  direction: ltr;
  border: none;
  color: inherit;
}
.preview pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  direction: ltr;
  border: none;
  color: inherit;
  overflow: auto;
  word-wrap: normal;
  margin: 0 0 1.275em;
  padding: .85em 1em;
  background: #f7f7f7;
}
.preview pre > code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  font-size: .85em;
  white-space: pre;
  background: 0 0;
}
.preview pre > code:after, .preview pre > code:before {
  content: normal;
}
.preview code {
  padding: .2em;
  margin: 0;
  font-size: .85em;
  background-color: #f7f7f7;
}
.preview code:after, .preview code:before {
  letter-spacing: -.2em;
  content: "聽";
}
.preview table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
}
.preview table td, .preview table th {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.preview table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.preview table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.preview ol, .preview ul {
  padding: 0 0 0 2em;
  margin: 0 0 0.85em;
}
.preview ol ol, .preview ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.preview ul ol, .preview ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.preview ol ol {
  list-style-type: lower-roman;
}
.preview blockquote {
  margin: 0 0 .85em;
  padding: 0 15px;
  color: #858585;
  border-left: 4px solid #e5e5e5;
}
.preview dd, .preview .pagehead .menu li:first-child > a {
  margin-left: 0;
}
.preview blockquote:first-child {
  margin-top: 0;
}
.preview blockquote:last-child {
  margin-bottom: 0;
}
.preview dl {
  padding: 0;
}
.preview dl dt {
  padding: 0;
  margin-top: .85em;
  font-style: italic;
}
.preview dl dd {
  padding: 0 .85em;
  margin-bottom: 0.85em;
}
.preview .contains-task-list, .preview .task-list {
  padding: 0 0 0 .8em;
  list-style: none;
}
.preview .contains-task-list .task-list-item-checkbox, .preview .task-list .task-list-item-checkbox {
  margin: 0 .2em .25em 0;
  vertical-align: middle;
}
.preview pre {
  border-radius: 4px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.08);
}

.grid-l {
  background-color: #fff;
}
.grid-l textarea {
  overflow-y: auto;
  display: block;
  padding: 15px;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}
.grid-l textarea::-webkit-scrollbar-track-piece {
  background-color: #f2f2f2;
  border-radius: 0;
}
.grid-l textarea::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.grid-l textarea::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 2px solid #f2f2f2;
  outline-offset: -2px;
  border: 2px solid #f2f2f2;
}
.grid-l textarea::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #9f9f9f;
  border-radius: 4px;
}
.grid-l textarea:focus {
  outline: none;
}

.grid-r {
  background-color: #fff;
}
.grid-r .preview {
  overflow-y: auto;
  padding: 15px;
  height: 100%;
}
.grid-r .preview::-webkit-scrollbar-track-piece {
  background-color: #f2f2f2;
  border-radius: 0;
}
.grid-r .preview::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.grid-r .preview::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 2px solid #f2f2f2;
  outline-offset: -2px;
  border: 2px solid #f2f2f2;
}
.grid-r .preview::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #9f9f9f;
  border-radius: 4px;
}

/*# sourceMappingURL=index.css.map */
