.c-button {
  padding: 0;
  min-width: 32px;
  height: 32px;
  border: none;
  outline: none;
  background-color: rgba(#000, 0.02);

  &:hover {
    background-color: rgba(#000, 0.06);
  }

  &.circle {
    border-radius: (32px / 2);
  }
}
