<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <style>
        body {
            margin: 0;
        }

        .container {
            width: 800px;
            column-count: 3;
        }

        .item {
            display: inline-block;
            margin: 0 01em;
            width: 100%;
        }

        .h-100 { height: 150px; background-color:#B0F566; }
        .h-200 { height: 200px; background-color:#4AF2A1; }
        .h-300 { height: 250px; background-color:#5CC9F5; }
        .h-400 { height: 400px; background-color:#F78AE0; }
    </style>
</head>
<body>
    <div class="container">
        <div class="item h-100"></div>
        <div class="item h-400"></div>
        <div class="item h-200"></div>
        <div class="item h-100"></div>
        <div class="item h-300"></div>
        <div class="item h-100"></div>
        <div class="item h-300"></div>
        <div class="item h-200"></div>
    </div>
</body>
</html>