<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" href="../src/css/editor.css">
</head>
<body>
    <header>
        <div class="navbar">
            <svg class="icon f-40 float-right" aria-hidden="true">
                <use xlink:href="#icon-more"></use>
            </svg>
        </div>
    </header>

    <main>
        <div class="markdown-editor">
            <textarea placeholder="请输入正文"></textarea>
        </div>

        <div class="html-preview">

        </div>
    </main>

<script src="../src/iconfont/iconfont.js"></script>
</body>
</html>